{
   project =
   {
      description="🐌 Creates URL slugs";
      domain="github";
      name="mulle-slug";
      user="mulle-c";
      repo="mulle-slug";
      homepage="https://github.com/mulle-c/mulle-slug";
      license="UNLICENSED";
   };
   dependencies =
   (
      {
         description="🔤 UTF8-16-32 analysis and manipulation library";
         domain="github";
         name="mulle-utf";
         repo="mulle-utf";
         url="https://github.com/mulle-c/mulle-utf";
         user="mulle-c";
      },
      {
         description="↗️ A growable C char array and also a stream";
         domain="github";
         name="mulle-buffer";
         repo="mulle-buffer";
         url="https://github.com/mulle-c/mulle-buffer";
         user="mulle-c";
      }
   );
}
